// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  width: 100%;
  text-align: center;
}

.page-description {
  font-size: 1.5em;
  margin: 50px 0px 50px;
}

.menu {
  width: 100%;

  .menu-item {
    display: inline-block;
    width: 24.5%;
    text-align: center;
  }
}